<h1>Item Transactions</h1>

<% if @item.errors.any? %>
<p>
    <%@item.errors.each do |attribute, message| %>
	<%= attribute %> : <%= message %>.
	<br />
	<% end %>
</p>
<% end %>

<h2>Check out an item</h2>

<%= form_tag "/checkout" do %>

  <div>
    <label>Email:</label>
    <input type="text" name="email" size="30">
  </div>
  
   <div>
    <label>Item barcode:</label>
    <input type="text" name="barcode" size="30">
  </div>

  <input type="submit" value="Process check-out">
  
<% end %>

<h2>Check in an item</h2>

<%= form_tag "/checkout", :method => "delete"  do %>
  
   <div>
    <label>Item barcode:</label>
    <input type="text" name="barcode" size="30">
  </div>

  <input type="submit" value="Process check-in">
  
<% end %>