<h1>Check items in or out</h1>

<div><p>On this page, you can check in our check out an item.</a></p></div>

<%= form_tag "/checkout" %>

  <div>
    <label>Name to check out to:</label>
	
  </div>


  <input type="submit" value="Update">