<div class="page-header">
  <h1>User Accounts - Admin Listing</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Name</td>
      <td>Email address</td>
      <td>Created on</td>
	  <td>Admin?</td>
	  <td>Promote to admin?</td>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.fullname %></td>
        <td><%= user.email %></td>
        <td><%= user.created_on %></td>
		<td><%= user.admin %></td>
      </tr>
    <% end %>
  </tbody>
</table>
